body {
    color: #b9b9ba;
    background:#18181a;
  }
  button {
    background: #303030;
  }
  #dynamic-tab {
    background: #303030;
  }
  .form-control {
    color: #b9b9ba;
    background: #202020;
  }
  .info {
    background-color: #18181a;
  }
  #protected-cookie-tree .list-group-item {
    background: #202020;
  }
  /* Following section is for menu.html */
  .panel {
      background: #18181a;
      color: #b9b9ba;
      font-size: 0.6em;
      min-height: 16px;
  }
  a, a:visited{
      color: #b9b9ba;
  }
  a:hover {
      background-color: #404040;
  }
  /* Preceding section is for menu.html */
  
  
  
  
  /* Reduce height of elements due to the augmentation of the padding
   * for h2 tags
   */
  #domain-list, #cookie-list {
      height: calc(100% - 75px);
  }
  #value {
      /* -41px */
      height: 125px;
  }
  /* Customization */
  
  *  {
      /* BB181218:
         !important was inserted to fix context menus, with the
         unfortunate result that to over-ride it, I needed to
         then include !important foreverwhere else's background */
      background: #18181a !important;
      color: #b9b9ba;
  }
  
  .list-group-item {
      /*padding: 7px 17px;*/
      background: #18181a;
      color: #727272;
      border-color: #808080;
  }
  .list-group-item:first-child{
      border-radius: 0;
  }
  .list-group-item.active,
  .list-group-item.active:focus,
  .list-group-item.active:hover,
  #search_domain_submit{
      background-color: #303030;
      border-color: #505050;
  }
  .list-group-item > .badge{
      border-radius: 0;
  }
  .list-group-item > .badge{
      background-color: #404040;
  }
  .list-group-item.active > .badge, .nav-pills > .active > a > .badge {
      color: #b9b9ba;
      background-color: #606060;
  }
  .form-control {
      border-radius: 0;
      box-shadow: inherit;
      background: #18181a;
      border-color: #e6e6e6;
  }
  .btn-default,
  .input-group-addon,
  .open > .dropdown-toggle.btn-default{ /*fix grey bg color during the click*/
      border-radius: 0px;
      background-color: #505050;
      color: #b9b9ba;
      border-color: #d0d0d0;
  }
  .btn-default:hover,
  .dropup > .dropdown-toggle.btn-default:hover{ /*fix grey bg color during the click*/
      background-color: #303030;
      border-color: #808080;
      color: #b9b9ba;
  }
  .btn-default:focus,
  .open > .dropdown-toggle.btn-default:focus{
      /* Add a border when buttons are focused by tab key */
      border-color: #808080;
      color: #b9b9ba;
      background-color: #404040;
  }
  .btn-default:active:focus {
      /*fix grey bg color during the click*/
      background-color: #808080;
  }
  .glyphicon{
      color: #b9b9ba;
  }
  .top-buttons .glyphicon{
      top: -2px;
      color: #808080;
  }
  
  @media only screen and (max-width: 768px) {
      #domain-list, #cookie-list {
          height: 200px; /* +50px */
      }
      .row .col-sm-8 {
          top: 465px; /* +90px */
      }
  }
  